<script>
  export let text;
</script>

<article
    class="rounded-xl shadow-xl bg-white/90 dark:bg-neutral-800/90 dark:text-white backdrop-blur-lg duration-200 px-8 py-6 max-w-screen-md cursor-pointer">
  <h2 class="text-2xl leading-6 drop-shadow-hard">Bio</h2>
  <div class="w-20 h-0.5 rounded bg-amber-400 drop-shadow-hard -ml-1 mt-1.5"></div>
  {#each text?.split('\n')?.filter(String) as paragraph}
    <p class="mt-1.5 drop-shadow-hard text-justify">{paragraph}</p>
  {/each}
</article>
