<script>
  export let text, links;
</script>

<article
    class="rounded-xl shadow-xl bg-white/90 dark:bg-neutral-800/90 dark:text-white backdrop-blur-lg duration-200 px-8 py-6 max-w-screen-md">
  <h2 class="text-2xl leading-6 drop-shadow-hard">Let's Connect</h2>
  <div class="w-20 h-0.5 rounded bg-amber-400 drop-shadow-hard -ml-1 mt-1.5"></div>
  <p class="mt-1.5 drop-shadow-hard text-justify">{text}</p>
  <nav class="uppercase mt-5 flex gap-x-5 gap-y-2.5 justify-center flex-wrap">
    {#each links as { href, text }}
      <a class="drop-shadow-hard underline decoration-2 decoration-transparent hover:decoration-amber-400 duration-150"
         {href}>{text}</a>
    {/each}
  </nav>
</article>