<script>
  export let statusCode, message;
</script>


<article class="relative">
  <span
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-9xl z-0 opacity-20 text-neutral-500 dark:text-neutral-900 select-none"
      style="filter: drop-shadow(3px 3px #fbbf24);"
  >{statusCode}</span>
  <p class="dark:text-white relative z-10 font-bold">{message}</p>
</article>
