<script>
  import logo from '../assets/images/logo.png';

  const domain = document.location.host.split('.').reverse(),
      href = domain[0] && domain[1] ? `https://${domain[1]}.${domain[0]}` : '#';
</script>

<a {href}
   class="m-3 duration-200 transform opacity-50 grayscale hover:drop-shadow-lg hover:scale-105 hover:grayscale-0 hover:opacity-100">
  <img class="w-20 h-20" src={logo} alt="">
</a>
