<script>
  export let src, name, position,
      alt = '';
</script>

<article
    class="relative rounded-xl shadow-xl flex gap-5 bg-white/90 dark:bg-neutral-800/90 dark:text-white backdrop-blur-lg hover:scale-105 transform duration-200">
  <img class="relative -left-3 -top-3 w-20 h-20 rounded shadow-lg hover:scale-105 transform duration-200"
       {src} {alt}>
  <div class="pr-8 py-6">
    <h1 class="text-3xl drop-shadow-hard leading-6">{name}</h1>
    <div class="flex gap-1.5">
      <div class="w-20 h-0.5 rounded bg-amber-400 drop-shadow-hard -ml-1 mt-1.5"></div>
      <p class="drop-shadow-hard text-xs leading-3">{position}</p>
    </div>
  </div>
</article>