<script>
  import { gql, ApolloClient, InMemoryCache } from '@apollo/client/core';
  import { query, setClient } from 'svelte-apollo';
  import avatar from './assets/images/avatar.jpeg';
  import gitlabIcon from './assets/images/gitlab-icon.svg';
  import Loader from './lib/Loader.svelte';
  import Person from './lib/Person.svelte';
  import Bio from './lib/Bio.svelte';
  import Shortbio from './lib/Shortbio.svelte';
  import Connect from './lib/Connect.svelte';
  import Logo from './lib/Logo.svelte';
  import Error from './lib/Error.svelte';

  const client = new ApolloClient({
        uri: "https://ishi-inanis.herokuapp.com/graphql",
        cache: new InMemoryCache()
      }),
      LANDING = gql`
        query {
          landing {
            data {
              id
              attributes {
                name,
                shortbio,
                bio
                connect,
                position
              }
            }
          }
        }
      `,
      links = [{
        href: 'mailto:alexeev.dauwalter@gmail.com',
        text: 'alexeev.dauwalter@gmail.com'
      }, {
        href: 'https://reddit.com',
        text: 'reddit'
      }, {
        href: 'https://twitter.com',
        text: 'twitter'
      }, {
        href: 'https://twitch.com',
        text: 'twitch'
      }, {
        href: 'https://fb.com',
        text: 'facebook'
      }, {
        href: 'https://linkedin.com',
        text: 'linkedin'
      }];

  setClient(client);

  let landing = query(LANDING).result(),
      isBio = false;
</script>

<main class="font-mono min-h-screen flex flex-col items-center bg-neutral-200 duration-200 dark:bg-neutral-700">
  <div class="grow flex flex-col gap-5 justify-center items-center">
    {#await landing}
      <Loader/>
    {:then { data: { landing: { data: { attributes: { name, shortbio, bio, connect, position } } } } }}
      <Logo/>

      <Person src={avatar} {position} {name}/>

      <div on:click={() => isBio = !isBio}>
        {#if isBio}
          <Bio text={bio}/>
        {:else}
          <Shortbio text={shortbio}/>
        {/if}
      </div>

      <Connect text={connect} {links}/>
    {:catch { networkError: { statusCode }, message}}
      <Error {statusCode} {message}/>
<!--      <p class="dark:text-white">{error}</p>-->
    {/await}
  </div>

  <a class="m-3 duration-200 transform opacity-50 grayscale hover:drop-shadow-lg hover:scale-105 hover:grayscale-0 hover:opacity-100"
     href="https://gitlab.com/4it/ishi-inanis-portfolio-client">
    <img class="w-9 h-9" src={gitlabIcon} alt="gitlab">
  </a>
</main>

<footer class="font-mono bg-neutral-200 duration-200 dark:bg-neutral-700">
  <p class="text-center dark:text-white opacity-50">made with code, coffee and fun © 2022 by Ishi Inanis</p>
</footer>